<div class="col-md-6">
  <h2 class="text-center">Order</h2>
  <form [formGroup]="viewForm" (ngSubmit)="onPayment()">
    <div class="form-group"><label for="email">Order Status :</label> <span style="color:green">{{orderStatus}}</span></div>
    <div class="form-group">
      <label for="email">Product Id:</label>
      <input type="text" formControlName="productId" placeholder="Product Id" name="productId" class="form-control" id="productId" readonly>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="Decription" name="description" class="form-control" id="description" readonly>
    </div>

    <div class="form-group">
      <label for="amount">Amount:</label>
      <input formControlName="amount" placeholder="Amount" name="amount" class="form-control" id="amount" readonly>
    </div>
    
    <div class="form-group">
      <label for="tax">Tax:</label>
      <input formControlName="tax" placeholder="Tax" name="tax" class="form-control" id="tax" readonly>
    </div>
    
    <div class="form-group">
      <label for="total">Total:</label>
      <input formControlName="total" placeholder="Total" name="total" class="form-control" id="total" readonly>
    </div>
    
    
    <!--<div class="form-group">
     <!-- Material inline 1 -->
        <!--<div class="form-check form-check-inline">
          <input  formControlName="status" type="radio" class="form-check-input" id="Approve" name="status" value="approved">
          <label class="form-check-label" for="Approve">Approve</label>
        </div>-->

        <!-- Material inline 2 -->
        <!--<div class="form-check form-check-inline">
          <input formControlName="status" type="radio" class="form-check-input" id="Cancel" name="status" value="cancelled" >
          <label class="form-check-label" for="Cancel">Cancel</label>
        </div>
    </div>-->

    <button class="btn btn-success" routerLink="/orders">Back</button><span style="padding-right:10px"></span>
    <button *ngIf="orderStatus !== 'confirmed'" class="btn btn-success">Payment</button>
  </form>
</div>
